.container{
    height: 100vh;
    width: 100vw;
    background:lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
/* .flex-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
} */
.formContainer{
    /* height: 100%; */
    width: 60%;
    position: absolute;
    top:0;
    /* box-shadow: 4px 4px 4px 4px #888888; */
}
.imageContainer{
    height: 200px;
    width: 60%;
    background:url('/img/building.jpeg') no-repeat center;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0 auto;
    position: relative;
    z-index: 1;
}
.imageContainer::before{
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(255, 255 , 255 , 0.5);
    top:0;
    z-index: -1;

}
.imageContainer > h1 {
    text-align: center;
    color: rgba(71, 36, 36, 1);
}
.formContentContainer{
    position: relative;
    border:  1px solid whitesmoke;
    /* height: 60%; */
    width: 60%;
    transform: translateX(33%);
   
    /* padding-left:3rem; */
}
.content{
    display:flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.content > div > label{
    font-size: 2rem; 
    color: rgba(71, 36, 36);
    text-align: right;
    display: inline-block;
    width: 200px;   
}
.content > div{
    margin:1rem;
    display: flex;
    /* flex-wrap: wrap; */
}
.content > div > .inputTxt{
    font-size: 1rem;
    border-radius: 5px;
    padding:0.3rem;
    width:80%;
    height: 2rem;
    margin-left: 10px;
}
.textareaContent{
    font-size: 1rem;
    border-radius: 5px;
    padding: 0.3rem;
    width: 80%;
    height: 4rem;
    margin-left: 10px;
 }
.content > label{
    font-size: 1.5rem;
    text-align: right;
    display: inline-block;
}
 .submitBtn{
    text-align: center;
    font-size: 1rem;
    border-radius: 5px;
    margin: 1rem;
    padding:1rem;
    width:8rem;
    background: center;
    background-color:rgba(71, 36, 36,0.9);
    text-transform: uppercase;
    color:white;
} 

@media only screen and (max-width: 600px) {
    body {
     margin: 0px;
    }
    .formContainer , .imageContainer , .formContentContainer{
        /* height: 100%; */
        width: 100%;
    }
    .formContentContainer{
        transform: translateX(0%); 
    }
    .content > div{
     flex-direction: column;
     justify-content: center;
     align-items: center;
    }
    .content > div > label{
        font-size: 1.2rem;
        text-align: center;
    }
    /* .submitBtn{
      display: flex;
      flex-direction: row;
      padding:1rem;
      width:8rem;
    } */
    input[type='reset']{
        display: none;
    }
 }

  
