@import url('https://fonts.googleapis.com/css?family=Raleway:200,100,400');
:root{
    --primary-color:rgba(59, 173, 207, 0);
    --secondary-color:rgba(229, 148, 0, 0.9);
    --overlay-color:rgba(24, 39, 51, 0.85);
    --menu-speed:0.75s;
}
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    font-family: 'Raleway', sans-serif;
    line-height: 1.4;
}

h1,h2{
    font-weight: 200;
    margin: 0.4rem;
    color: rgb(0, 217, 255);
}
h1{
    font-size: 3.5rem;
}
/* cursor */
.txt-type >.txt{
    border-right: 0.2rem solid #777;

}
.container{
    max-width: 1500px;
    margin: auto;
    overflow: hidden;
    padding: 0 3rem;
}
#showcase{
    background: var(--primary-color) ;
    color:#fff;
    height: 100vh;
    position: relative;

}
#showcase:before{
    content:'';
    background: url('../img/background1.jpg') no-repeat center center/cover;
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
#showcase .showcase-container{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 100%;

}
#showcase h1{
    font-size: 4rem;
}
#showcase p{
    font-size: 1.4rem;
}
.btn{
    display: inline-block;
    text-decoration: none;
    padding:0.90rem 2rem;
    border: solid 2px black;
    border-radius: 30px;
    background:rgb(0, 217, 255) ;
    font-size: 1.3rem;
    color:black;
    margin-top: 15.5rem;
    transition:opacity 1s ease-out;
}
.btn:hover{
    opacity:0.7;
}
.socialLinks{
    position: absolute;
    font-size: 3rem;
    z-index: 1;
}
.socialLinks > ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0 1rem;    
}
.socialLinks > ul >li >a {
    cursor: pointer;
    margin: 0.8rem;
    color:rgb(0, 217, 255) ;

}